/* Example animatable properties:
background-color
background-position
background-size
border
color
filter
font-size
line-height
top left bottom right
margin padding
width height
opacity
transform
word-spacing
letter-spacing 

Example of non-animatable properties:
font-family
display
position */

/* Timing function:
ease (default)
ease-in
ease-out
ease-in-out
linear
cubic-bezier */

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 900px;
    margin: 10px auto;
    border: 5px solid black;
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: salmon;
    text-align: center;
    line-height: 100px;
    margin: 5px 0;
    /* transition: margin-left 3s, transform 3s 2s, background-color 500ms 3s; */
}

.kotak1 {
    transition: all 3s ease;
}

.kotak2 {
    transition: all 3s ease-in;
}

.kotak3 {
    transition: all 3s ease-out;
}

.kotak4 {
    transition: all 3s ease-in-out;
}

.kotak5 {
    transition: all 3s linear;
}

.kotak6 {
    transition: all 3s cubic-bezier(0.9, -0.18, 0, 1.34);
}

.container:hover .kotak {
    transform: rotate(1080deg);
    margin-left: 800px;
    background-color: yellow;
}