h1 {
    font-size: 100px;
    text-align: center;
    font-family: "introrustg-base2line", arial;
}

@font-face {
    font-family: 'introrustg-base2line';
    src: url('Font/introrustg-base2line-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}